.boxContainer {
    display: grid;
    grid-template: repeat(5, 30px) / repeat(4, 50px);
    column-gap: 5px;
    row-gap: 5px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.singleBox {
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.boxWithNumber {
    background-color: rgb(237, 237, 237);
}

.boxWithAction {
    background-color: rgb(218, 218, 218);
}

.boxWithNumber:hover {
    background-color: rgb(225, 225, 225)
}

.boxWithAction:hover {
    background-color: rgb(206, 206, 206);
}