
.calculator {
    display: flex;
    justify-content: center;
}

.calculatorFrame {
    border: 1px solid rgb(182, 182, 182);
    padding: 10px;
    box-shadow: 3px 2px 6px rgb(206, 206, 206);

}
.boxContainer {
    display: grid;
    grid-template: repeat(5, 30px) / repeat(4, 40px);
    column-gap: 8px;
    row-gap: 8px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.singleBox {
    text-align: center;
    line-height: 29px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
}

.boxWithNumber {
    background-color: rgb(236, 236, 236);
    color: rgb(0, 0, 0);
}

.boxWithAction {
    background-color: rgb(212, 245, 225);
    color: rgb(66, 162, 10);
}

.boxWithNumber:hover {
    background-color: rgb(225, 225, 225);
}

.boxWithAction:hover {
    background-color: rgb(184, 247, 209);
}

.displayContainer {
    background-color: rgb(246, 246, 246);
    padding: 5px;
    margin-bottom: 10px;
    width: 185px;
    box-sizing: border-box;
    text-align: right;
}

.displayText {
    text-align: right;
    font-size: 15px;
    width: 168px;
    color: rgb(66, 180, 0);
}

.historyText {
    font-size: 12px;
    text-align: right;
    border-style: none;
    margin-bottom: 5px;
    background-color: rgb(246, 246, 246);
}